/* Box sizing */
html {
    box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 /* Reset margins, paddings, and borders */
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ol,
 ul,
 li,
 figure,
 figcaption,
 blockquote,
 dl,
 dd {
    margin: 0;
    padding: 0;
 }
 
 /* Reset lists */
 ol,
 ul {
    list-style: none;
 }
 
 /* Reset typography */
 html,
 body,
 button,
 input,
 select,
 textarea {
    font-family: Arial, sans-serif;
 }
 
 /* Reset hyperlinks */
 a {
    text-decoration: none;
    color: inherit;
 }
 
 /* Reset form elements */
 button,
 input,
 select,
 textarea {
    outline: none;
 }
 button {
   border: none;
 }
 
 /* Reset images */
 img {
    max-width: 100%;
    height: auto;
 }